
<h1>Listing the post </h1>

<table  id="article_lists" class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Post</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>

    </tr>
  </thead>

  <tbody>

    <% @articles.each do |article| %>
      <tr>
        <% if can? :read, article %>
          <td><%= article.title %></td>
          <td><%= article.text %></td>
          <td><%= link_to 'show', article_path(article), class: "btn btn-danger" %></td>
          <td><%= link_to 'Edit', edit_article_path(article),class: "btn btn-danger" if can? :update, article %></td>
          <td><%= link_to 'Destroy', article_path(article),class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' }, remote: true  if can? :destroy, article %></td>
          
          <% if article.verify %>
          <td>
            Verify
          </td>
          <% else %>
            <td>
            Not Verify
            <%= link_to "Approve", verified_article_path(article), remote: true, class: "btn btn-success btn-sm"  %>
            </td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>

</table>




