<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<p>
  <strong>Image:</strong>

  <% @article.images.each do |image| %>
    <%= image_tag(image.name.url(:thumb))%>
  <% end %>
</p>

<h2>Comments</h2>
<%= render @article.comments %>
  
 
<h2>Add a comment:</h2>
<div id = "destroycmt" data-post_id="<%= @article.id %>">
  <%= render 'comments/form' %>
</div>

<%= link_to 'Back', articles_path %>

