<h2 align="center" style="color:blue;">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
<center>

<div>
  <div class="field">
    <%= f.label :First_Name %><br />
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :Last_Name %><br />
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :Password %><br />
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :Fathers_Name %><br />
    <%= f.text_field :fathers_name %>
  </div>

  <div class="field">
    <%= f.label :Mothers_Name %><br />
    <%= f.text_field :mothers_name %>
  </div>

  <div class="field">
    <%= f.label :Occupation %><br />
    <%= f.text_field :occupation %>
  </div>

  <div class="field">
    <%= f.label :Fathers_Occupation %><br />
    <%= f.text_field :fathers_occupation %>
  </div>

  <div class="field">
    <%= f.label :Mothers_Occupation %><br />
    <%= f.text_field :mothers_occupation %>
  </div>

  <div class="field">
    <%= f.label :Phone_Number %><br />
    <%= f.text_field :phone_number %>
  </div>

  <div class="field">
    <%= f.label :Email_Address %><br />
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :Social_Security_Number %><br />
    <%= f.text_field :social_sucurity_number %>
  </div>

  <div class="field">
    <%= f.label :PAN %><br />
    <%= f.text_field :pan %>
  </div>

  <div class="field">
    <%= f.label :Document %><br />
    <%= f.file_field :document %>
  </div>

  <div class="field">
    <%= f.label :Profile_photo %><br />
    <%= f.file_field :profile_photo %>
  </div>

  <h2 align="center" style="color:blue;">Permanent address</h2>

  <%=f.fields_for :parmanent_address, ParmanentAddress.new do |form1| %>

    <div class="field">
      <%= form1.label :House_number %><br />
      <%= form1.text_field :house_number %>
    </div>

    <div class="field">
      <%= form1.label :Street_number %><br />
      <%= form1.text_field :street_number %>
    </div>

    <div class="field">
      <%= form1.label :Area %><br />
      <%= form1.text_field :area %>
    </div>  

    <div class="field">
      <%= form1.label :City %><br />
      <%= form1.text_field :city %>
    </div>

    <div class="field">
      <%= form1.label :State %><br />
      <%= form1.text_field :state %>
    </div>

    <div class="field">
      <%= form1.label :Country %><br />
      <%= form1.text_field :country %>
    </div>

  <% end %>

  <h2 align="center" style="color:blue;">Local address</h2>

  <%=f.fields_for :local_address, LocalAddress.new do |form2| %>

    <div class="field">
      <%= form2.label :House_number %><br />
      <%= form2.text_field :house_number %>
    </div>

    <div class="field">
      <%= form2.label :Street_number %><br />
      <%= form2.text_field :street_number %>
    </div>

    <div class="field">
      <%= form2.label :Area %><br />
      <%= form2.text_field :area %>
    </div>  

    <div class="field">
      <%= form2.label :City %><br />
      <%= form2.text_field :city %>
    </div>

    <div class="field">
      <%= form2.label :State %><br />
      <%= form2.text_field :state %>
    </div>

    <div class="field">
      <%= form2.label :Country %><br />
      <%= form2.text_field :country %>
    </div>

  <% end %>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
</div>
</center>
